<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta name="keywords" content="Fluid dynamics, mathematical engineering">
  <meta property="og:image" content="assets/angeliki-mik.png" />
  <meta property="og:description" content="Konstantinos Lazaridis | Fluid dynamics Expert" />
  <meta property="og:url" content="http://konstantinoslazaridis.com" />
  <meta property="og:title" content="Konstantinos Lazaridis" />
  <link rel="stylesheet" href="stylesheet.css">
  <link rel="stylesheet" href="stylesheet-kwstis.css">
  <link rel="stylesheet" href="navigation-stylesheet.css">
  <link rel="stylesheet" href="responsive-stylesheet.css">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quattrocento" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
  <link rel="icon" type="image/png" href="assets/blackdot.png" sizes="16x16">
  <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <title>Konstis Lazaridis</title>
</head>
<style>
  * {
    font-family: {
        {
        content.myFont
      }
    }
  }
</style>
<main>
  <div class="k-header">
    <div class="k-background-image-container"></div>
    <div class="k-center">
      <div class="k-container">
        <div class="k-name-and-image-container">
          <div class="k-image-container-left">
            <div class="k-image-container-left-up">
              <div class="k-name k-name-up">
                Konstantinos
              </div>
            </div>
            <div class="k-image-container-left-down">
              <div class="k-name k-name-down">
                Lazaridis
              </div>
            </div>
          </div>
          <div class="k-image-container-right">
            <div class="k-profil-photo">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="k-main ">
    <div class="k-center">
      <div class="k-container">
        <div class="k-description">
          PhD Candidate in Fluid Dynamics with a focus on Interface Phenomena for coupled Moving Boundaries problems. I
          create
          solutions in Mathematical Physics by utilizing my strong mathematical background. My current interests are
          Mathematical formulation of Physical Processes, Multiscale Models and Computational Methods and Materials
          Processing and Service.
        </div>
      </div>
    </div>
  </div>
  <div id="projectsBlock">
    <div class="headline2" style="box-shadow: none">
      Projects
    </div>
    {{{body}}}
  </div>
  <div class="publication">
    <div id="projectsBlock" class="projectInfoTextPadding">
      All research projects are tied up with experimental components, conducted at University of Kentucky, under the
      research group of Prof. Dusan Sekulic. My research goals are focused on the accuracy of mathematical derivations,
      implementations and their connection with physical meaning. This research work is supported by NASA Physical
      Sciences Research Program award NNX17AB52G.
    </div>
  </div>

  <div id="contactBlock">
    <div class="contactForm">
      <div class="contactTitle">
        {{content.contact}}
      </div>
      <div> k.lazaridis@wsu.edu </div>
      <div class="inARow">
        <a class="bigIcon githubIcon" href="https://www.linkedin.com/in/konstantinos-lazaridis-05939869/"
          target="_blank"><img src="assets/linkedInn.png" /> </a>
        <a class="bigIcon githubIcon" href="https://www.researchgate.net/profile/Konstantinos_Lazaridis2"
          target="_blank">
          <img src="assets/RG.png" />
        </a>
      </div>
    </div>
  </div>
  <div id="footer">
    <a href="https://angelikipatrinou.com" target="_blank">© 2020 Angeliki Patrinou </a>
  </div>
  <script>
    $('.menuItem').click(function (e) {
      e.preventDefault();
      let navigationTarget = '#' + e.target.href.split("#").pop();
      let navigationTargetSelector = $(navigationTarget);
      $('html, body').animate({
        scrollTop: $(navigationTarget).offset().top
      }, "slow");
    });
  </script>
</main>

</html>